<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Uploader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
</head>
<body>
    <div class="container">
        <div id="upload-button-container">
            <button id="upload-button">Upload Image</button>
        </div>
        <input type="file" id="file-input" accept="image/*">
        <div id="error-message"></div>

        <div class="image-comparison" id="image-comparison-view">
            <div class="image-box">
                <h3>Original Image</h3>
                <div class="image-preview" id="original-image-preview">
                    <img id="original-uploaded-image" src="#" alt="Original Image">
                </div>
                <div class="image-size" id="original-image-size"></div>
            </div>
            <div class="image-box">
                <h3>New Image</h3>
                <div class="image-preview" id="new-image-preview">
                    <img id="new-uploaded-image" src="#" alt="New Image">
                </div>
                <div class="image-size" id="new-image-size"></div>
                <a id="download-button" href="#" download>Download New Image</a>
            </div>
        </div>

        <div id="loading-overlay">
            <div class="loader">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>

    </div>

</body>
</html>